<!DOCTYPE html>
<html class="h-100">
    <head lang="en">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-309TB5ZN00"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-309TB5ZN00');
        </script>
        <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
        <meta charset="utf-8">
        <!-- <meta name="theme-color" content="#ffffff"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block head_meta %}
            <meta name="robots" content="noindex, follow">
        {% endblock %}
        <link rel="stylesheet" href="{{ site.url }}/build/app.css">
        <!-- <link rel="shortcut icon" href="/favicon.ico" /> -->

        <!-- <link rel="apple-touch-startup-image" href="{{ site.url }}/build/2048x2048.png"> -->
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <!-- <link rel="shortcut icon" sizes="76x76" href="{{ site.url }}/build/jackson/76x76.png">
        <link rel="shortcut icon" sizes="120x120" href="{{ site.url }}/build/jackson/120x120.png">
        <link rel="shortcut icon" sizes="128x128" href="{{ site.url }}/build/jackson/128x128.png">
        <link rel="shortcut icon" sizes="152x152" href="{{ site.url }}/build/jackson/152x152.png">
        <link rel="shortcut icon" sizes="196x196" href="{{ site.url }}/build/jackson/196x196.png">
        <link rel="shortcut icon" sizes="512x512" href="{{ site.url }}/build/jackson/512x512.png">
        <link rel="shortcut icon" sizes="1024x1024" href="{{ site.url }}/build/jackson/1024x1024.png">
        <link rel="shortcut icon" sizes="2048x2048" href="{{ site.url }}/build/jackson/2048x2048.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/build/jackson/76x76.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/build/jackson/120x120.png">
        <link rel="apple-touch-icon" sizes="128x128" href="{{ site.url }}/build/jackson/128x128.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/build/jackson/152x152.png">
        <link rel="apple-touch-icon" sizes="196x196" href="{{ site.url }}/build/jackson/196x196.png">
        <link rel="apple-touch-icon" sizes="512x512" href="{{ site.url }}/build/jackson/512x512.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="{{ site.url }}/build/jackson/1024x1024.png">
        <link rel="apple-touch-icon" sizes="2048x2048" href="{{ site.url }}/build/jackson/2048x2048.png"> -->

        <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} activity feed" />
        {% block head_styles %}
        {% endblock %}
        {% block head_scripts %}
        {% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
        <header class="container-fluid">
            <div class="justify-content-center">
                <div class="col-lg-12 text-center">
                    <a href="/"><img id="logo" src="/assets/img/bitcoin-charlotte-logo.png" title="Bitcoin Charlotte Logo"></a>
                    <div class="welcome">
                        Your local bitcoin resource, community and meetup.
                        <br><a class="cta" href="{{ site.url }}/connect">Connect with Us!</a>
                    </div>
                </div>
            </div>
        </header>
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container">
                <a class="navbar-toggler menu-btn" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="tri tri2"></div>
                    <div class="menu-text"><span>&#9776;</span> Menu</div>
                    <div class="tri"></div>
                </a>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    {% set navigation_bar = [['', 'Briefs'], ['resources', 'Resources'], ['connect', 'Connect']] %}
                    {% block navigation %}
                    <ul class="navbar-nav mr-auto">
                        {% for item in navigation_bar %}
                        <li{% if page.active_tab == item[0] %} class="active"{% endif %}>
                            
                            <div class="tri tri2"></div>
                            <a class="nav-link" href="{{ site.url }}/{{item[0]}}">{{item[1]}}</a>
                            <div class="tri"></div>
                            
                        </li>
                        {% endfor %}
                    </ul>
                    {% endblock %}
                </div>
            </div>
        </nav>
        <div class="glow-bar glow-bar-nav container-fluid">&nbsp;</div>
        <main role="main" class="container py-5">

            <div class="row">
                <div class="col-sm-12">
                    {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
                </div>
            </div>

        </main>
        <footer class="container-fluid footer mt-auto py-3">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <b>{{ site.title }}</b><br>Established 2013 - {{ "now"|date("Y") }} <br>
                        ~
                        <ul class="footer-nav">
                            <li><a href="{{ site.url }}/briefs">Briefs Archive</a></li>
                        </ul>
                        ~
                        <ul class="footer-nav">
                            <li><small>Design by <a href="https://partyp.me">partyp.me</a> | Generated with <a href="https://sculpin.io/">Sculpin</a></small></li>
                            <li><small><a href="https://github.com/BitcoinCharlotte">GitHub Source</a></small></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script src="{{ site.url }}/build/app.js"></script>
    </body>
</html>
